header {
    width: 89%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 6vw auto 5%;
}

header .first_group_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    text-align: center;
    height: 11vw;
    width: 11vw;
    /* max-width: 100px;
    max-height: 100px; */
}

header .logo a {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items:center;
}

header .logo img {
    width: 6.5vw;
    height: 6.5vw;
    /* max-width: 65px; */
    /* max-height: 65px; */
}
  
header .kiosk_info{
    margin-left: 3vw;
    font-family: 'MTS Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3.5vw;
    line-height: 3vw;
    color: #000000;
    width: 35vw;
}

header .wokr_time{
    font-family: 'MTS Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 2.25vw;
    color: #626C77;
}

/* header .user_enter {
    width: 40.625%;
    height: 10vw;
    max-height: 100px;
    float: right;
    background: #FFFFFF;
    opacity: 0.75;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2.5vw;
} */


header .user_enter {
    float: right;

}

header .user_block {
    width: 40.625vw;
    height: 10vw;
    /* max-height: 100px; */
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    float: right;
    background: #FFFFFF;
    opacity: 0.75;
    box-shadow: 0px 0.5vw 2.5vw rgba(0, 0, 0, 0.1);
    border-radius: 2.5vw;
}

header .user_block .icon_wrapper {
    height: calc(60 * (100vw / 800));
    width: calc(60 * (100vw / 800));
    max-width: 75px;
    max-height: 75px;
    border-radius: 50%;
    background: rgba(185, 185, 185, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header .user_block .icon_wrapper div {
    position: absolute;
    top: 50%;
    left: 0;
    background: #E30611;
    width: 3vw;
    height: 3vw;
    max-width: 35px;
    max-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #FFFFFF;
    font-family: 'MTS Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    color: #FFFFFF;
    
}

header .no_login_btn {
    width: 27.625vw;
}

header #login_btn {
    height: 10vw;
    /* max-height: 100px; */
    font-family: 'MTS Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
    background: #FFFFFF;
    box-shadow: 0px 0.5vw 2.5vw rgba(0, 0, 0, 0.1);
    border-radius: 2.5vw;
}

header .user_block #login_btn {
    box-shadow: none;
    opacity: 1;
    border-radius: 0;
    /* width: 55%; */
    justify-content: space-between;
}

header #login_btn .user_block {
    box-shadow: none;
    opacity: 1;
    border-radius: none;
    width: 50%;
    justify-content: space-between;
}

header .user_block .icon_wrapper img {
    max-width: 50px;
    max-height: 50px;
    width: 5vw;
    height: 5vw;
}

header .image_account{
    max-width: 75px;
    max-height: 75px;
    height: calc(60 * (100vw / 800));
    width: calc(60 * (100vw / 800));
}

.css-b62m3t-container {
    font-size: 5vw !important;
}

/* [class$="control"] { */
.css-13cymwt-control {
    height: 10vw;
    max-height: 80px;
    border: none;
    border-width: 0 !important;
    background: #F2F3F7 !important;
    border-radius: 2vw !important;
}

.css-1u9des2-indicatorSeparator {
    background-color: #F2F3F7 !important;
}

.css-1dimb5e-singleValue {
    font-family: 'MTS Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3.5vw !important;
    text-align: center;
    color: #000000;
}

#react-select-2-placeholder {
    font-family: 'MTS Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    text-align: center;
    color: #626C77;
}

.close_location {
    width: 100%;
    margin: 3vw auto 0;
    height: 10vw;
    max-height: 80px;
    border: none;
    border-radius: 2vw;

    font-family: 'MTS Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 3vw;
    color: #000000;
}

.modal .active .location_item img {
    height: 20vw;
    width: 40%;
    border-radius: 2.5vw;
}

.location_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.location_item {
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background: #F2F3F7;
    border-radius: 2.5vw;
    width: 100%;
}


.location_item  .kiosk_info {
    width: auto;
    font-weight: 700;
    font-size: 3.5vw;
    width: 60%;
}

.location_item  .kiosk_info .wokr_time {
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    color: #626C77;
}

@media (max-width:700px){
    header .kiosk_info{
        font-size: 4vw;
        width: 35vw;
        line-height: 4vw;
    }
    header .wokr_time{
        font-size: 2.5vw;
    }
    .location_item  .kiosk_info {
        font-size: 3.5vw;
    }
    header .user_block .icon_wrapper div {
        width: 4vw;
        height: 4vw;
        font-size: 3vw;
    }
    .location_item  .kiosk_info .wokr_time {
        font-size: 2.5vw;
    }
}

@media (min-width: 800px) {
    [class$="control"] {
        border-radius: 16px !important;
    }
}